@model LancheListViewModel;

@{
    ViewData["Title"] = "Lanches";
}

@* <div>
    <h2>@ViewData["Titulo"]</h2>
</div>
<h2>@ViewData["Data"]</h2>

<hr />
<h3>@ViewBag.Total @ViewBag.TotalLanches</h3>
<hr /> *@

<div class="container my-5">
    <div class="text-center mb-5">
        <h2 class="fw-bold text-warning display-6">@Model.CategoriaAtual</h2>
        <hr class="border-secondary opacity-50 w-25 mx-auto" />
    </div>

    @*<h3>@TempData["Nome"];</h3>*@

    <div class="row g-4 justify-content-center">
        @foreach (var lanche in Model.Lanches)
        {
                <partial name="_LanchesResumo" for="@lanche" /> <!--No caso deste for="" estou falando para pegar os dados da variável lanche-->
        }
    </div>
</div>
